.DS_Store
#  Local .terraform directories
**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*
*.tfvars
*.log
.gitsecret/keys/random_seed
# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
*tfplan*
